@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #fff;
    --whitesmoke: #f0f0f0;
    
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
}

.login_logo {
    width: 130px;
    margin-bottom: 80px;
}




