* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none; /* Tira a linha azul do input*/ 
}

body {
    height: 100vh;
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;

}

.button-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #e27923;
    color: #ffffff;
    font-size: 17px;
    padding: 0 15px;
    float: right; /* Joga tudo para a direita*/
    cursor: pointer;
    font-weight: 700;
}

.button-task:hover {
    opacity: 0.8;
}

.button-task:active {
    opacity: 0.6;
}

.list-task {
    width: 100%;
    list-style: none;
    margin-top: 35px;
}

.task {
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.task:hover img {
    opacity: 1;

}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* efeito de transição que diz para editar o OPACITY em 0.5 segundo quando o mouse entrar e sair*/
}

.done {
    background-color: #5cdb4bb7;
    text-decoration: line-through;
}

